:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

body {
  background-color: #242424;
  color: white;
}

.rmh-app a {
  font-weight: 500;
  color: #646cff; 
  text-decoration: none;
}

.rmh-app a:hover {
  color: #6d28d9; 
  text-decoration: none;
}

.rmh-app button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s, background-color 0.25s;
}

.rmh-app button:hover {
  border-color: #646cff;
  background-color: #111111;
}

.rmh-app button:focus,
.rmh-app button:focus-visible {
  outline: 3px solid #646cff;
  outline-offset: 2px;
}

@media (prefers-color-scheme: light) {
  body {
    background-color: #ffffff;
    color: #213547;
  }

  .rmh-app a:hover {
    color: #646cff'
  }

  .rmh-app button {
    background-color: #f9f9f9;
  }
}
